.bg{
	background:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)), url("../assets/img/8.jpg") no-repeat center center fixed; 
	  position: fixed; 
	  top: 0; 
	  left: 0; 
	background-size: cover;
	  /* Preserve aspet ratio */
	  min-width: 100%;
	  min-height: 100%;
	 font-family: 'Montserrat', sans-serif;
	 font-weight: 700;
	 height:170vh;
	 background-color: #F24095;

}


.container{
	margin-left: 35px;
	margin-right: 35px;
}


.myButton {
	background-color:#F24095;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	color:white;
	font-size:25px;
	padding:30px 45px;
	margin-top: 20px;

}

.wrapper {
    text-align: center;

}

.black{
	color:black;
}

.whitetext{
	color:white;
}

.white-back{
	background-color: #FF3232;
}
a:hover
{
  text-decoration:none;
}

.top-main{
	margin-top: 175px;
    
}



.below_text{
	font-size: 40px;
	text-align: center;

}

