.bg{
	background:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)), url("../assets/img/8.jpg") no-repeat center center fixed; 
  	background-size: cover;
	 font-family: 'Montserrat', sans-serif;
	 font-weight: 700;
	 height:170vh;
	 background-color: #F24095;
}



.myButton {
	background-color:#F24095;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	color:white;
	font-size:20px;
	padding:30px 45px;
}

.wrapper {
    text-align: center;

}

.black{
	color:black;
}

.whitetext{
	color:white;
}

.white-back{
	background-color: #FF3232;
}
a:hover
{
  text-decoration:none;
}

.top-main{
	margin-top: 200px;
    
}
.button_down{
	margin-top: 100px;
}

.lil_left{
	margin-left:20px;
}



.below_text{
	font-size: 45px;
	text-align: center;
}

